<!doctype html>
<html>
  <head>
    <title>Multiply | Online Calculator</title>
  </head>
  <body>
    <h1>Multiply</h1>

    <form action="/calculate_multiply" method="POST">
    <!--<label for "firstNumber"> First Number: </label> -->
      <input type="number" name ="first_number" placeholder="1st number" id = "firstNumber"> +
    <!-- <label for "secondNumber"> Second Number: </label> -->
      <input type="number" name ="second_number" placeholder="2nd number" id = "secondNumber"> <br>
      <button type="submit">Calculate</button>
    <!--  <input type="text"> -->
    <form>
  </body>
</html>