<h1> Give me a list of useless numbers ;) ! </h1>

<form action = "/numberlist_final" method = "post">
	<input type="number" name ="number" placeholder="enter number" id = "listnumber"> <br>
  <button type="submit">Show me the list</button>
</form>